<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="anh/favicon.png" type="image/x-icon">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.7.0/remixicon.css">
      <link rel="stylesheet" href="styles.css">
      <link rel="stylesheet" href="css/stynew+sale.css">
      <link rel="stylesheet" href="css/sty.css">
      <script src="js/angular/angular.min.js"></script>
      <script src="js/angular/user.js"></script>
      <script src="jquery-3.7.1.js" type="text/javascript"></script> 
      <title>Bánh BREADS</title>
   </head>
   <body ng-app="AppAdmin">
    <header class="header" id="header">
        <nav class="nav container" class="nav">
            <a href="index.html" class="nav__logo">
                <i class="ri-cake-3-fill"></i>Breads</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="index.html" class="nav__link">Trang chủ</a>
                    </li>
                    <li class="nav__item">
                        <a href="home.html" class="nav__link">Giới thiệu</a>
                    </li>
                    <li class="nav__item">
                        <a href="new.html" class="nav__link">Tin tức</a>
                    </li>
                    <li class="nav__item">
                        <div class="dropdown" id="dropdown">
                            <a href="prod.html" class="nav__link">Sản phẩm </a>
                            <div class="dropdown-content" id="dropdownMenu">
                                <a href="prod.html">Bánh Macaron</a>
                                <a href="prod.html">Bánh nướng</a>
                                <a href="prod.html">Bánh bông lan</a>
                                <a href="prod.html">Bán Pháp</a>
                                <a href="prod.html">Bánh kem</a>
                                <a href="prod.html">Đồ uống</a>
                            </div> 
                        </div>
                    </li>
                    
                    <li class="nav__item">
                        <a href="#" class="nav__link">Liên hệ</a>
                    </li>
                    <li class="nav__item" id="cart">
                        <i class="ri-shopping-cart-line"></i>
                       <a href="shop.html" class="nav__link">
                        (0)
                       </a>
                   </li>
                   <li class="nav__item card__article" ng-controller="UserCtrl" ng-mouseenter="showUserInfo = true" ng-mouseleave="showUserInfo = false">
                    <a href="login.html" id="user" class="nav__link">
                        <!-- Ẩn biểu tượng khi người dùng đã đăng nhập -->
                        <i class="ri-user-fill" ng-if="!currentUser"></i>
                        
                        <!-- Hiển thị ảnh đại diện hoặc tên người dùng -->
                        <img class="profile" ng-if="currentUser && currentUser.anh" ng-src="anh/{{currentUser.anh}}" alt="Profile Picture">
                        <span ng-if="currentUser && !currentUser.anh">{{currentUser.tenDangNhap}}</span>
                    </a>
                    <!-- Thông tin người dùng hiển thị khi hover -->
                    <div class="card__tooltip" ng-if="showUserInfo">
                        <div class="card__content">
                            <img class="card__profile" ng-if="currentUser && currentUser.anh" ng-src="anh/{{currentUser.anh}}" alt="Profile Picture">
                            <div class="card__data">
                               <p><strong>Tên:</strong> {{currentUser.tenDangNhap}}</p>
                                <p><strong>Email:</strong> {{currentUser.email}}</p>
                                <p ng-if="currentUser.quyenHan === 'Admin'"><strong>Quyền:</strong> Admin</p>
                                <p ng-if="currentUser.quyenHan !== 'Admin'"><strong>Quyền:</strong> Người dùng</p>
                               <a href="#" class="card__button" ng-click="logout()">
                                <i class='bx bxs-log-out-circle'></i>
                                <span class="text">Đăng Xuất</span>
                               </a>
                               <a href="login.html" class="card__button">
                                <i class='bx bxs-log-out-circle'></i>
                                <span class="text">Đăng nhập</span>
                               </a>
                            </div>
                         </div>
                    </div>
                </li>
                </ul>

                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>

            <div class="nav__btns">
                <!-- Theme change button -->
                <i class="ri-moon-line change-theme" id="theme-button"></i>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line"></i>
                </div>
            </div>
        </nav>
    </header>
     <!-- main -->
     <main class="main">
        <section class="new_home section" id="home">
            <img src="anh/noel-new.png" alt="" style="width: 100%; height: 650px;" >
            <div class="new_home__container container ">
                <img src="anh/sk1.png" alt="" class="new_homeimg">
                <div class="new__data">
                    <h2 class="section__title">NHỮNG MẪU BÁNH KEM 20/10 ĐẶC BIỆT</h2>
                    <p class="new__description">Ngày Phụ Nữ Việt Nam 20/10 là ngày đặc biệt để tôn vinh những người phụ nữ Việt Nam. Những lời chúc, những món quà ý nghĩa được gửi đến các Bà, các Mẹ, các chị/ em, bạn bè đồng nghiệp. Bánh kem là một trong những món quà rất được ưa chuộng bởi sự đa dạng về mẫu mã, 
                        trang trí đep mắt, điểm nhấn ấn tượng trong bữa tiệc tri ân.
                    </p>
                </div>
            </div>
            <div class="news__content grid">
                <article class="news__card">
                    <img src="anh/news1.jpg" alt="" class="news__img">
                    <h3 class="news__title">MỪNG SINH NHẬT TRI ÂN!</h3>
                                 <p class="new__drescription">10/10/2024<br/>

                                    Chia sẻ niềm vui và gửi lời tri ân đến Quý khách hàng đã đồng hành cùng Savouré Bakery trong suốt hành trình</p>
                </article>
                <article class="news__card">
                    <img src="anh/sk2.jpg" alt="" class="news__img">
                    <h3 class="news__title">Quà tặng ngọt ngào mùa yêu thương </h3>
                    <p class="new__drescription">22.12.2024 - 24.12.2024

                        Hoà trong không khí rộn ràng, Bakery gửi trọn yêu thương vào từng chiếc bánh và đặc biệt ưu đãi 20% tất cả các loại bánh kem từ 22 - 24.12 để cùng bạn trao tình cảm</p>
                </article>
                <article class="news__card">
                    <img src="anh/sk3.jpg" alt="" class="news__img">
                    <h3 class="news__title">[Trung Thu 2024] Chương trình quà tặng Hộp Thỏ</h3>
                    <p class="new__drescription">
                        Tặng ngay 1000 hộp quà tặng Thỏ Sài Gòn cho 1000 người tham gia đúng thể lệ và trong thời gian sớm nhất. Cách thức tham gia và điều kiện áp dụng vui lòng xem chi tiết</p>
                </article>
                <article class="news__card">
                    <img src="anh/sk4.jpg" alt="" class="news__img">
                    <h3 class="news__title">Quà tặng hấp dẫn</h3>
                                 <p class="nMỪNG SINH NHẬT TRI ÂN!ew__drescription">Ưu đãi mừng Savouré Saigon Signature Mooncake được mở bán tại thị trường Mỹ
                                    Đến hết ngày 17/09/2024
                                    
                                    Ưu đãi 15% mẫu hộp được yêu thích</p>
                </article>
                <article class="news__card">
                    <img src="anh/sk5.jpg" alt="" class="news__img">
                    <h3 class="news__title">Quà tặng Trung Thu ý nghĩa cho Doanh Nghiệp</h3>
                    <p class="new__drescription">
                        Chào đón mùa trăng rằm,BREADS đem đến bộ sưu tập quà tặng Trung Thu mang đậm dấu ấn Sài Gòn với những thông điệp tốt lành và lời chúc ý nghĩa mỗi mùa Tết Đoàn Viên.</p>
                </article>
                <article class="news__card">
                    <img src="anh/sk6.jpg" alt="" class="news__img">
                    <h3 class="news__title">BREADS RA MẮT BỘ SƯU TẬP BÁNH HƯƠNG VỊ MỚI</h3>
                    <p class="new__drescription">
                        Một mùa trăng nữa lại về với ngào ngạt hương thơm từ muôn vàn chiếc bánh nướng, bánh dẻo. Những chiếc bánh tròn viên mãn, an lành tựa Mặt trăng, giăng đầy sự hoàn mỹ, tượn...</p>
                </article>
            </div>
            
        </section>
     </main>
     <footer class="footer section">
        <div class="footer__container container grid">
            <div class="footer__content">
                <a href="#" class="footer__logo">
                    <i class="ri-cake-3-fill"></i>Breads
                </a>

                <h3 class="footer__title">
                    Đăng ký theo dõi chúng tôi <br> để cập nhật
                </h3>

                <div class="footer__subscribe">
                    <input type="email" placeholder="Enter your email" class="footer__input">

                    <button class="button button--flex footer__button">
                        Subscribe
                        <i class="ri-arrow-right-up-line button__icon"></i>
                    </button>
                </div>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Địa chỉ của chúng tôi</h3>

                <ul class="footer__data">
                    <li class="footer__information">1234 - Nhân Hoà</li>
                    <li class="footer__information">Mỹ Hanof - 43210</li>
                    <li class="footer__information">123-456-789</li>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Liên Hệ</h3>

                <ul class="footer__data">
                    <li class="footer__information">+999 888 777</li>
                    
                    <div class="footer__social">
                        <a href="https://www.facebook.com/" class="footer__social-link">
                            <i class="ri-facebook-fill"></i>
                        </a>
                        <a href="https://www.instagram.com/" class="footer__social-link">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="https://twitter.com/" class="footer__social-link">
                            <i class="ri-twitter-fill"></i>
                        </a>
                    </div>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">
                    Chấp nhận tất cả thẻ tín dụng
                </h3>

                <div class="footer__cards">
                    <img src="assets/img/card1.png" alt="" class="footer__card">
                    <img src="assets/img/card2.png" alt="" class="footer__card">
                    <img src="assets/img/card3.png" alt="" class="footer__card">
                    <img src="assets/img/card4.png" alt="" class="footer__card">
                </div>
            </div>
        </div>

        <p class="footer__copy">&#169; Do Thi Xuan. Do an 2</p>
    </footer>
      <!--=============== SCROLL UP ===============-->
      <a href="#" class="scrollup" id="scroll-up"> 
        <i class="ri-arrow-up-fill scrollup__icon"></i>
    </a>

    <!--=============== SCROLL REVEAL ===============-->
    <script src="scrollreveal.min.js"></script>

      <!--=============== MAIN JS ===============-->
      <script src="main.js"></script>

   </body>
</html>